GMAIL_USER=deine@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
RECIPIENT_EMAIL=frau@example.com
VHS_URL=https://www.kvhs-harburg.de/kurssuche/suche?suchesetzen=true&clearallkatfilter=true&kfs_stichwort_schlagwort=T%C3%B6pfern
